.wrapper {
    width: 100%;
    background-color: #f5f5f7;
    color: #1d1d1f;
}

.text {
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.025em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
