.card {
    display: block;
}

.cardImageWrap {
    overflow: hidden;
    aspect-ratio: 4 / 5;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms;
}
.card:hover .cardImage {
    transform: scale(1.05);
}

.cardInfo {
    margin-top: 0.5rem;
}

.cardTitle {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.025em;
}

.cardPrice {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1em;
}
